<!doctype html>

<html
  class="not-ready lg:text-base"
  lang="{{- or site.LanguageCode site.Language.Lang -}}"
  dir="{{- if site.Params.direction -}}{{- site.Params.direction -}}{{- else -}}ltr{{- end -}}"
>
  {{- partial "head.html" . -}}
  <body
    class="bg-(--bg) text-black antialiased duration-200 ease-out [-webkit-tap-highlight-color:transparent] dark:text-white"
  >
    {{- partial "header.html" . -}}

    <main
      class="prose prose-neutral dark:prose-invert relative mx-auto min-h-[calc(100vh-9rem)] max-w-(--w) px-4 pt-8 pb-8"
    >
      {{- block "main" . -}}{{- end -}}
    </main>

    <script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
        if (!user) {
            window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
            });
        }
        });
    }
    </script>

  </body>
</html>
