{{ define "main" }}

<div class="grid-2col lg-mr-4 mb-12">
  <div class="col-1-content">  
  {{ if .Content}}
    {{ .Content }}
  {{ end }}
  </div>
</div>
{{ range ((where .Site.RegularPages "Section" "posts").ByParam "sort_order").Reverse }}
<div class="publicity single-book grid-2col mb-24 lg-mb-36">
  <div class="col-1-content not-prose flex flex-col justify-start gap-4">  
    <div>
    <h4><i>{{ .Title }}</i></h4>
    <h4 class="">{{ .Params.author }}</h4></div>
      {{ .Content }}
  </div>

  <div class="col-2-content book m-0 not-prose">
  {{ if .Params.image }}
   {{ with .Resources.ByType "image" }}
     {{ range . }}
      <img class="w-full" src="{{ .Permalink }}">
     {{ end }}
    {{ end }}

{{ end }}
   </div>
  </div>

{{ end }}
{{ end }}