{{ define "main" }}

{{ range  ( where .Site.RegularPages "Type" "posts" ) }}
<div class=" publicity grid-2col">
  <div class="col-1-content not-prose flex flex-col justify-center gap-4">  
    <div>
    <h4><i>{{ .Title }}</i></h4>
    <h4 class="">{{ .Params.author }}</h4></div>
      {{ .Content }}
  </div>

  <div class="col-2-content">
  {{ if .Params.image }}
   {{ with .Resources.ByType "image" }}
     {{ range . }}

      <img src="{{ .Permalink }}">
     {{ end }}
    {{ end }}

{{ end }}
   </div>
  </div>

{{ end }}
{{ end }}