<header
  class="mx-auto flex h-[4.5rem] max-w-(--w) whitespace-nowrap lg:justify-center px-8"
>
  <div class=" header-wrapper w-full relative z-50 flex items-center justify-between ltr:mr-auto rtl:ml-auto">
    <a
      class="site-title -translate-y-[1px]"
      href="{{- `` | absURL -}}"
      >{{ site.Title }}</a
    >
  <div
    class="nav-wrapper flex "
>

    <nav
      class=""
    >
   {{ $current := . }}
    {{ range .Site.Menus.nav }}

      {{ $active := or ($current.IsMenuCurrent "nav" .) ($current.HasMenuCurrent "nav" .) }}
    {{ $active = or $active (eq .Name $current.Title) }}
    <a href="{{ .URL }}" class="{{ if $active }}active{{ end }}">{{ .Name }}</a>
    {{ end }}
     
    </nav>


  </div>
</header>
